:root
{
    --colorfone-white: #fff;
    --color-of-logo: #4D5AE5;
    --maincolor-of-text:#2E2F42 ;
    --secondcolor-of-text: #434455;
    --colortext-of-footer:#E7E9FC;
    --color-of-card: #F4F4FD;
}

/*#4D5AE5  цвет лого  */
/* #2E2F42 заглавный цвет текста */
/* #FFFFFF цвет фона */
/* #434455 вторичный цвет текста */
/* #E7E9FC цвет текста футера */
/* #F4F4FD цевт сецкии с карточками */

/* оформлення боді і списків */
body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.link
{
    text-decoration: none;
    
}
.link:active
{
    color:green;
}

.list
{
    list-style: none;
}
/* оформлення лого  */

.logotype:focus
{
    
    color:darkblue ;
}

.logotype:hover
{
    color: cyan;
}
.logotype
{
    font-family: 'Raleway',sans-serif;
    color: var(--maincolor-of-text);
}

.logo-color
{
    font-family: 'Raleway',sans-serif;
    color:var(--color-of-logo)
    
}

.logo-color:active
{
    color: green;
}
.logo-color:hover
{
    color:cyan;
}
.logo-color:focus
{
    color:darkblue;
}
/* оформлення навігації */

a > .studio
 {
    color: var(--maincolor-of-text);
 }
 .studio:focus
 {
    color: darkblue ;
 }
 .studio:hover
 {
    color:cyan
 }
 